body {
    font-family: 'Roboto', sans-serif; /* Use Google Font */
   
  }

#heading{
  color: red; 
    background-color: blue ;
    text-align:center;

}

.para{
    color: white;
    background-color: #32a852;

    text-indent: 100px;
    text-transform:uppercase ;
    letter-spacing: 5px;
    word-spacing: 30px;
    line-height: 30px;
    text-align-last: center;
    text-shadow: 4px 3px 2px yellow;
    text-wrap: wrap;

}

#quote{
    text-transform: lowercase;
    font-weight: 800;
    font-size: 10px;
}

#image{
    width: 500px;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

#heading-tomato{
    font-size: 50px;
}

.para-2{
    color: blue;
    background-color: #32a852;
}

.para-2{
    color: red;
    background-color: blueviolet;
    font-size: 25px;
}

.para-2{
    color: #32a852;
    background-color: yellow;
}

.paragraph{
    text-transform: capitalize;
}

li{
    list-style-type: none;
    background-color: #ffc107; /* Background color */
  padding: 10px; /* Add padding for better visual */
}